<form class="row g-3 needs-validation mt-4" novalidate>
  <div class="col-md-4">
    <label for="search-input" class="form-label">Entered key search</label>
    <input
      type="text"
      name="q"
      class="form-control"
      id="search-input"
      required
    />
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>